body
{
    background-color: /*#121212*/ #181818 /*#1e1e1e*/;
}

#navbar
{
    color: #BB86FC;
    font-family: 'Times New Roman', Times, serif; /*'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    margin-left: 40px;
    margin-top: 32px;
    
}

#name
{
    margin: 140px;
    margin-right: 840px;
    margin-left: 185px;
    font-size: 46px;
    font-weight: bold;
}

#linkresume
{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-bottom: 20px;
    border-bottom: 20px;
    padding-bottom: 20px;
}

.navimglinks
{
    height: 5px;
    width: 5px;
    margin-left: 55px;
}

#startingpage
{
    display: flex;
}

#sentence
{
    color: white;
    font-size: 105px;
    padding-top: 100px;
    margin-left: 160px;
    text-align: start;
}

#rainbow
{
    animation: colorChange 13s linear infinite;
}

@keyframes colorChange 
{
    0% {
        color: rgb(255, 0, 0);
    }
    14% {
        color: orange;
    }
    28% {
        color: yellow;
    }
    42% {
        color: green;
    }
    56% {
        color: cyan;
    }
    70% {
        color: rgb(128, 0, 130);
    }
    84% {
        color: violet;
    }
    100%
    {
        color: #ff003c 
    }
}

#programmer
{
    margin-left: 260px;
    margin-top: 58px;
    color: white;
}

#profession
{
    margin-left: 160px;
    font-size: 28px;
}

.projectsbutton
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#projectsbuttontext
{
    color: white;
    font-size: 20px;
    background-color: transparent;
}

#projectsbuttonsymbol
{
    font-size: 20px;
    background-color: #181818;
    border: none;
    cursor: pointer;
    padding: 0;
}
